<h2>convert</h2>

<h3>
  backtrace for failed conversion by
  <%= @btrace[:program] %>
  <%= @btrace[:version] %>
</h3>

<p>Backtrace created <%= @btrace[:created] %></p>

<table class='table table-striped table-bordered table-condensed'>
  <thead>
    <th>File</th>
    <th>Line</th>
    <th>Message</th>
  </thead>
  <tbody>
    <%- @btrace[:messages].each do |line| -%>
      <tr>
        <td><%= line[:file] %></td>
        <td><%= line[:line] %></td>
        <td><%= line[:message] %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
