<form
    name="convert'"
    action="<%= url('/convert') %>"
    class='form-horizontal'
    enctype="multipart/form-data"
    method="post">
  <div class='row mb-3'>
    <label class='text-end col-form-label col-sm-3' for='upload'>File</label>
    <div class='col-sm-9'>
      <input class='form-control' id='upload' name='upload' type='file'>
    </div>
  </div>
  <div class='row mb-3'>
    <label class='text-end col-form-label col-sm-3' for='select_input'>Input format</label>
    <div class='col-sm-9'>
      <select class='form-control' id='select_input' name='input'>
        <%- @read_formats.each do |f| -%>
          <option
              id='input_<%= f[:type] %>'
              <%- if @input == f[:type] then -%>
              selected
              <%- end -%>
              value='<%= f[:type] %>'>
            <%= f[:desc] %>
          </option>
        <%- end -%>
      </select>
    </div>
  </div>
  <div class='row mb-3'>
    <label class='text-end col-form-label col-sm-3' for='select_output'>Output format</label>
    <div class='col-sm-9'>
      <select class='form-control' id='select_output' name='output'>
        <%- @write_formats.each do |f| -%>
          <option
              id='output_<%= f[:type] %>'
              <%- if @output == f[:type] then -%>
              selected
              <%- end -%>
              value='<%= f[:type] %>'>
            <%= f[:desc] %>
          </option>
        <%- end -%>
      </select>
    </div>
  </div>
  <div class='row mb-3'>
    <div class='offset-sm-3 col-sm-9'>
      <div class='checkbox'>
        <input
            id='select-zipped'
            name='zipped'
            type='checkbox'
            <%- if session[:zipped] then -%>
            checked
            <%- end -%>
            value='true'>
        <label for='select-zipped'>
          convert all gradients in input (result is zipped)
        </label>
      </div>
    </div>
  </div>
  <div class='row mb-3'>
    <div class='offset-sm-3 col-sm-9'>
      <button class='btn btn-primary' type='submit' value='convert'>
        Convert
      </button>
    </div>
  </div>
</form>
