<h2>convert</h2>
<div class='card w-75 mx-auto'>
  <div class='card-header text-center'>
    Select a colour gradient for upload and conversion
  </div>
  <div class='card-body'>
    <%= erb :convert_form %>
  </div>
</div>
