<h2>convert</h2>
<div class='card w-75 mx-auto'>
  <div class='card-header text-center'>
    Download converted gradient
  </div>
  <div class='card-body'>
    <%= erb :convert_form %>
    <p>
      Download link:
      <%= link_to("/download/#{@download[:percent]}", "#{@download[:raw]}") %>,
      valid for about a week.
    </p>
  </div>
  <%- if @preview[:percent] then -%>
  <img
      alt='gradient preview'
      class='card-img-bottom'
      src='<%= url("/img/preview/#{@preview[:percent]}") %>'>
  <%- end -%>
</div>
